/* index.html styling properies*/
/*The styling of the first section*/
#section1 > .heading {
  background-image: url(../assets/images/moving\ 1.png);
  background-size: 100% 100%;
  padding: 250px;
}
/*styling properties of the unordered list*/
#section1 > .heading > .navig > ul {
  display: flex;
  color: white;
  float: right;
  margin-top: -70px;
}
#section1 > .heading > .navig > ul > li {
  margin-right: 20px;
  list-style: none;
  font-size: 30px;
}
/*styling of the header */
#section1 > .heading > .heading1 > h1 {
  color: yellow;
  font-size: 80px;
  margin-top: -70px;
  margin-left: -80px;
}
/*styling of the paragraph in the header*/
#section1 > .heading > .heading1 > p {
  font-size: 30px;
  color: rgb(215, 219, 223);
  margin-left: -80px;
}
