/* index.html styling properies*/
/*The styling of the first section*/
#section1 > .heading {
  background-image: url(../assets/images/moving\ 1.png);
  background-size: 100% 100%;
  padding: 250px;
}
/*styling properties of the unordered list*/
#section1 > .heading > .navig > ul {
  display: flex;
  color: white;
  float: right;
  margin-top: -70px;
}
#section1 > .heading > .navig > ul > li {
  margin-right: 20px;
  list-style: none;
  font-size: 30px;
}
/*styling of the header */
#section1 > .heading > .heading1 > h1 {
  color: yellow;
  font-size: 80px;
  margin-top: -70px;
  margin-left: -80px;
}
/*styling of the paragraph in the header*/
#section1 > .heading > .heading1 > p {
  font-size: 30px;
  color: rgb(215, 219, 223);
  margin-left: -80px;
}
/*this is the styling properties for section 2*/
#section2 > .sectiontwo {
  display: flex;
  gap: 200px;
  background-color: white;
}
#section2 > .sectiontwo > .sec2img {
  margin-top: 100px;
}
#section2 > .sectiontwo > .sec2div {
  margin-top: 200px;
}
#section2 > .sectiontwo > .sec2div > h1 {
  font-size: 50px;
}
#section2 > .sectiontwo > .sec2div > p {
  color: rgb(93, 96, 97);
  font-size: 20px;
}
#section2 > .sectiontwo > .sec2div > a {
  color: yellow;
  background-color: black;
  padding: 10px 10px;
  text-decoration: none;
}
#section2 > .sectiontwo > .sec2div > .fa-arrow-right-long {
  margin-top: 1px;
  margin-left: 2px;
}
.strip {
  height: 5px;
  width: 300px;
  background: linear-gradient(
    90deg,
    rgba(255, 172, 18, 1) 0%,
    rgba(121, 110, 9, 1) 36%,
    rgba(61, 55, 5, 1) 66%,
    rgba(0, 0, 0, 1) 100%
  );
  /*this is section 3 scripting properties*/
}
#section3 {
  background-color: rgb(248, 244, 244);
}
#section3 > .topmov {
  font-size: 40px;
  margin-left: 50px;
}
#section3 > .sec3img > div > img {
  padding: 30px;
}
